.contact-container {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.contact-box {
    border: 10px solid black;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.contact-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.input-contact {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 5px solid black;
    box-sizing: border-box;
    color: black;
}

.input-contact::placeholder {
    color: gray;
}

.button-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.mensaje-exito {
    margin-top: 20px;
    color: green;
    font-weight: bold;
    text-align: center;
}

.error-campo {
    color: red;
    font-size: 12px;
    margin: 0 0 15px 5px;
}

/* Inputs: todos juntos, animación lenta */
.input-contact {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s; /* más lento */
    animation-fill-mode: forwards;
    animation-delay: 0.3s; /* empiezan después de 0.3s */
}

/* Botón con retraso mayor */
.button-primary {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s; /* aparece después de los inputs */
}

/* Animación fadeIn */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


/*-------------------- TABLET --------------------*/

@media (max-width: 1024px) {
    .contact-container {
        width: 80%;
        margin-top: 40px;
    }
    .contact-title {
        font-size: 26px;
        text-align: center;
    }
    .input-contact {
        padding: 8px;
        margin-bottom: 12px;
        border-width: 4px;
    }
    .button-container   {
        margin-top: 25px;
    }
}

/*-------------------- MOVIL --------------------*/

@media (max-width: 768px) {
    .contact-container {
        width: 90%;
        margin-top: 30px;
    }
    .contact-box {
        border-width: 5px;
        padding: 15px;
    }
    .contact-title {
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }
    .input-contact {
        padding: 8px;
        margin-bottom: 10px;
        border-width: 2px;
        font-size: 14px;
    }
    .button-container {
        justify-content: center;
        margin-top: 20px;
    }
    .button-primary {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }
    .mensaje-exito {
        font-size: 14px;
    }
    .error-campo {
        font-size: 11px;
        margin: 0 0 10px 3px;
    }
}