.card-trabajo {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-imagen {
    width: 330px;
    height: 300px;
    border: 5px solid black;
    background-size: cover;
    background-position: center;
}

.card-imagen img {
  width: 100%;         /* que ocupe todo el ancho del contenedor */
  height: 100%;        /* que ocupe toda la altura del contenedor */
  object-fit: cover;   /* mantiene proporción y recorta lo que no cabe */
  display: block;      /* para evitar espacios en línea debajo de la imagen */
}

.ver-detalles {
    width: 330px;
    height: 50px;
    background-color: black;
    color: white;
    border: 5px solid black;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0;
}

.ver-detalles::after {
    content: '';
    display: inline-block;
    width: 20px; /* espacio deseado */
}