.formulario-container {
    width: 60%;
    margin: 50px auto 0 auto;
    border: 10px solid black;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}

.formulario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario-title {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
}

.toggle-btn {
    background: black;
    color: white;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    line-height: 1;
    user-select: none;
    transition: background 0.2s ease;
}

.toggle-btn:hover {
    background: #333;
    color: lightgray;
}


.formulario-content {
    margin-top: 30px;
}

/* resto del CSS sigue igual */

.input-formulario {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 5px solid black;
    box-sizing: border-box;
    color: black;
}

.input-formulario::placeholder {
    color: gray;
}

.categoria-group {
    margin-bottom: 20px;
}

.categoria-label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.categoria-options {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.categoria-option {
    font-weight: normal;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.categoria-option input[type="radio"] {
    accent-color: black;
    transform: scale(1.2);
}

.button-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/*-------------------- RESPONSIVE --------------------*/

@media (max-width: 1024px) {
    .formulario-container {
        width: 80%;
    }
    .formulario-title {
        font-size: 26px;
    }
    .error {
    font-size: 12px;
    }
}

@media (max-width: 768px) {
    .formulario-container {
        width: 90%;
        padding: 15px;
    }
    .formulario-title {
        font-size: 22px;
    }
    .input-formulario {
        padding: 8px;
        margin-bottom: 10px;
        border-width: 2px;
        font-size: 14px;
    }
    .button-primary {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }
    .error {
    font-size: 10px;
    }
}
