<div class="about-container">
    <div class="box">
        <h3 class="box-title">SOBRE MÍ</h3>
        <p class="box-text">
            Soy Silvia Duarte Largo, diseñadora gráfica de formación con un gran interés en el desarrollo web. Tras
            varios años de experiencia en diseño, decidí dar un paso más en mi carrera formándome en el Ciclo Superior
            de Desarrollo de Aplicaciones Web (DAW), con el objetivo de especializarme en desarrollo Frontend y
            Fullstack.<br>
            <br>
            Actualmente continuo perfeccionando mis habilidades en Angular, además de trabajar con HTML, CSS,
            Javascript, Node.JS, bases de datos SQL y MongoDB, e integración de APIs REST (JSON). También tengo
            conocimientos básicos en Laravel, PHP, Docker, y Java, así como en harramientas de gestión y organización
            de proyectos como Notion, que utilizo para planificar tareas y proyectos de forma eficiente. Tengo
            interés en seguir ampliando mis conocimientos con frameworks como React o Vue.<br>
            <br>
            Gracias a mi trayectoria en diseño gráfico, dominio de herramientas como Adobe Creative Suite, Figma y
            Axure. Lo que me permite crear interfaces no solo funcionales, sino también atractivas y pensadas para la
            experiencia de usuario. Además estoy familiarizada con metodologías Ágiles (Scrum), control de versiones
            mediante Git y el trabajo colaborativo en equipo, habilidades que he aplicado tanto en proyectos formativos
            como en desarrollo reales, como la aplicación que elaboré junto a mi equipo para la red de colegios La Salle en
            España y Portugal.<br>
            <br>
            A nivel personal, destaco por ser una persona organizada, resolutiva y con gran capacidad de adaptación,
            acostumbrada a afrontar nuevos retos con iniciativa y motivación. Mi perfil combina creatividad y pensamiento
            técnico, lo que me permite abordar los proyectos desde una visión glopal y aportar soluciones completas y
            efectivas.<br>
            <br>
            Actualmente busco una oportunidad profesional que me permita aplicar mis conocimientos y seguir desarrollándome
            tanto en el ámbito técnico como en el creativo, dentro de un entorno dinámico, colaborativo y con retos reales.
        </p>
    </div>

    <div class="box">
        <h3 class="box-title">Educación</h3>
        <p class="box-text"></p>
    </div>

    <div class="box">
        <h3 class="box-title">Experiencia</h3>
        <p class="box-text"></p>
    </div>

    <div class="box">
        <h3 class="box-title">Tecnologías</h3>
        <p class="box-text"></p>
    </div>

    <div class="box">
        <h3 class="box-title">Softskills</h3>
        <p class="box-text"></p>
    </div>

    <div class="button-container button-right">
        <button class="button-primary button-cv">Descargar currículum en PDF</button>
    </div>
</div>