.detalles-container {
    width: 70%;
    height: 600px;
    border: 10px solid black;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
    width: 100%;
}

.contenido {
    display: flex;
    flex: 1;
    gap: 20px;
    min-height: 0;
}

.izquierda {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 0;
}

.imagen-principal {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
    border: none;
    outline: none;
}

.derecha {
    width: 50%;
    padding-left: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.descripcion {
    white-space: pre-wrap;
    overflow-y: auto;
    flex: 1;
}

.button-secondary {
    cursor: pointer;
    align-self: flex-end;
}

/*-------------------- TABLET --------------------*/

@media(max-width: 1024px) {
    .detalles-container {
        width: 90%;
        height: auto;
        padding: 10px;
    }
    .contenido {
        gap: 15px;
    }
    .titulo {
        font-size: 22px;
        text-align: center;
    }
    .izquierda, .derecha {
        width: 50%;
    }
    .descripcion {
        max-height: 300px;
    }
}

/*-------------------- MOVIL --------------------*/

@media(max-width: 768px) {
    .detalles-container {
        width: 90%;
        height: auto;
        padding: 10px;
        border: 7px solid black;
    }
    .contenido {
        flex-direction: column;
        gap: 20px;
    }
    .titulo {
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
    }
    .izquierda, .derecha {
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }
    .button-secondary {
        align-self: center;
    }
    .descripcion {
        max-height: none;
        overflow: visible;
        margin-bottom: 10px;
    }
}