/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('/Portfolio-Personal/src/app/ASSETS/FONDO.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: 'Roboto Mono', monospace;
    font-weight: 400; /* Regular por defecto */
    margin: 0;
    padding: 0;
}