<div class="home-container">
    <h1 class="title animate-slide-in-left">¡Hola, soy Silvia Duarte!</h1>
    <h2 class="subtitle animate-slide-in-left" style="animation-delay: 0.3s;">PROGRAMADORA WEB</h2>
    <div class="text-box-wrapper">
        <div class="text-box">
            <p [innerHTML]="displayText"></p>
        </div>
        <img src="assets/fotoPersonal.png" alt="Foto de Silvia Duarte" class="foto-personal"/>
    </div>
    <div class="button-container animate-slide-in-right" style="animation-delay: 1.2s;">
        <a routerLink="/portfolio" class="button-secondary">PORTFOLIO</a>
        <a routerLink="/contacto" class="button-primary">CONTACTO</a>
    </div>
</div>