<div class="home-container">
    <h1 class="title">¡Hola, soy Silvia Duarte!</h1>
    <h2 class="subtitle">PROGRAMADORA WEB</h2>
    <div class="text-box-wrapper">
        <div class="text-box">
            <p>
                Soy una diseñadora gráfica con un fuerte<br>
                interés en el mundo del desarrollo web.<br>
                Después de varios años de experiencia laboral<br>
                en diseño, decidí expandir mis horizontes y<br>
                estudiar el ciclo formativo de Grado<br>
                Superior en Desarrollo de Aplicaciones Web<br>
                (DAW), con el objetivo de especializarme<br>
                en Desarrollo Full-Stack y Frontend.
            </p>
        </div>
        <img src="assets/fotoPersonal.png" alt="Foto de Silvia Duarte" class="foto-personal"/>
    </div>
    <div class="button-container">
        <a routerLink="/portfolio" class="button-secondary">PORTFOLIO</a>
        <a routerLink="/contacto" class="button-primary">CONTACTO</a>
    </div>
</div>