<div class="home-container">
    <h1 class="title">¡Hola, soy Silvia Duarte!</h1>
    <h2 class="subtitle">PROGRAMADORA WEB</h2>
    <div class="text-box-wrapper">
        <div class="text-box">
            <p [innerHTML]="displayText"></p>
        </div>
        <img src="assets/fotoPersonal.png" alt="Foto de Silvia Duarte" class="foto-personal"/>
    </div>
    <div class="button-container">
        <a routerLink="/portfolio" class="button-secondary">PORTFOLIO</a>
        <a routerLink="/contacto" class="button-primary">CONTACTO</a>
    </div>
</div>