.home-container {
    width: 60%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
    margin-top: 70px;
    position: relative;
}

.title, .subtitle, .text-box {
    width: 100%;
    margin-left: 0;
    text-align: left;
}

.title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: -50px;
}

.subtitle {
    font-size: 54px;
    font-weight: 700;
}

.text-box-wrapper {
    position: relative;
    width: 100%;
    margin-left: 0;
}

.text-box {
    border: 10px solid black;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    margin-bottom: 41px;
    position: relative;
    z-index: 1;
}

.foto-personal {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 53%;
    height: auto;
    object-fit: cover;
    z-index: 2;
    bottom: 50px;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}