* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.home-container {
    width: 60%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
    margin-top: 70px;
    position: relative;
}

.title, .subtitle, .text-box {
    width: 100%;
    margin-left: 0;
    text-align: left;
}

.title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: -50px;
}

.subtitle {
    font-size: 54px;
    font-weight: 700;
}

.text-box-wrapper {
    position: relative;
    width: 100%;
    margin-left: 0;
}

.text-box {
    border: 10px solid black;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    margin-bottom: 41px;
    position: relative;
    z-index: 1;
}

.foto-personal {
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 53%;
    height: auto;
    object-fit: cover;
    z-index: 2;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/*-------------------- TABLET --------------------*/

@media (max-width: 1024px) {
    .home-container {
        width: 80%;
    }
    .subtitle {
        font-size: 42px;
    }
    .foto-personal {
        width: 40%;
        bottom: 50px;
        right: 40px;
    }
    .text-box {
        font-size: 16px;
        width: 90%;
        margin: 0 auto 41px auto;
    }
    .button-container {
        margin-top: 40px;
    }
}

/*-------------------- MOVIL --------------------*/

@media (max-width: 768px) {
    .home-container {
        width: 100%;
        max-width: 100%;
        padding: 20px 10px;
        padding-bottom: 380px;
        position: relative;
    }
    .title {
        font-size: 25px;
        text-align: center;
        margin-bottom: 0;
    }
    .subtitle {
        font-size: 30px;
        text-align: center;
    }
    .text-box-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
    }
    .text-box {
        border: 7px solid black;
        width: 100%;
        padding: 15px;
        font-size: 16px;
        text-align: justify;
        margin-bottom: 20px;
    }
    .button-container {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
        order: 2;
    }
    .foto-personal {
        position: absolute;
        width: 80%;
        max-width: 100%;
        bottom: 0;
        margin-top: 0;
        order: 3;
    }
}